* {
    margin: 0;
    padding: 0;
}
a {
    color: #eee;
    font-size: 30px;
    text-decoration: none;
}
a span {
    display: flex;
    font-size: 20px;
    align-items: center;
}
li {
    list-style: none;
	padding: 15px 0 15px 80px;
    
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: left center;
}
.web {
    background-image: url('../img/icons8-earth-64.png');
}
.git {
    background-image: url('../img/icons8-git-60.png');
}
a:hover {
    color: #eee;
    background: rgb(71, 132, 189);
}
li > a {
    color: rgb(71, 132, 189);

    display: flex;
    justify-content: space-between;

    padding: 20px;
    margin: 0 auto;
    border-radius: 30px;
    border: 3px solid rgb(71, 132, 189);
}

.content {
    width: 800px;
    display: flex;
    margin: 0 auto;
}
.hr {
    padding: 1px;
    background: #eee;
    border: 2px solid #ededed;
}
.content ul {
    flex-grow: 1;
    padding: 20px 30px;
}
.header {
    padding: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    background: rgb(71, 132, 189);
}
